// RESET BROWSER DEFAULT STYLES
@import "_reset.scss";


// VARIABLES

$base-font: 16px;
$base-padding: 24px;
$base-margin: 24px;

$sectionH: 600px;

$white: #fff;
$black: #030303;
$black-secondary: #808080;
$feat-color: #ffbc79;

// MIXINS 

@mixin angle($pseudo, $flip: false, $angle: 8deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo=='before' or $pseudo=='after' or $pseudo=='both' {
        position: relative;
        z-index: 1;
        $selector: if($pseudo=='both', '&:before,&:after', '&:#{$pseudo}');
        #{$selector} {
            background: inherit;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }
        @if $pseudo=='before' {
            #{$selector} {
                top: 0;
                transform: skewY($angle);
                transform-origin: 100% 0;
            }
        }
        @if $pseudo=='after' {
            #{$selector} {
                bottom: 0;
                transform: skewY($angle);
                transform-origin: 0;
            }
        }
        @if $pseudo=='both' {
            &:before {
                top: 0;
                transform: skewY($angle);
                transform-origin: 100% 0;
            }
            &:after {
                bottom: 0;
                transform: skewY($angle);
                transform-origin: 0;
            }
        }
    }
}

@mixin brackets($pseudo, $margin: -12px) {
    @if $pseudo=='before' or $pseudo=='after' {
        
        @if $pseudo=='before' {
            color: inherit;
            display: inline-block;
            margin-right: $margin;
            content: '[';
        }
        @if $pseudo=='after' {
            color: inherit;
            display: inline-block;
            margin-left: $margin;
            content: ']';
        }
    }
}

@mixin link-anim($value: all, $time: .3s) {
    transition: $value $time cubic-bezier(0, .68, .31, 1.01);
}

@mixin stroke($sdo, $sda) {
    stroke-dashoffset: $sdo;
    stroke-dasharray: $sda;
}

@mixin transition($dur, $del) {
    transition: $dur $del ease-in-out;
}


// RESUME STYLES

html,
body {
    font-family: 'Inconsolata', monospace;
    font-size: $base-font / 1.142;
    font-weight: 400;
    line-height: 1.6;
    @media screen and (min-width: 768px) {
        font-size: $base-font;
    }
}

a {
    text-decoration: none;
    color: $black;
    &.link {
        display: inline-block;
        position: relative;
        font-weight: 700;
        letter-spacing: .07em;
        padding: $base-padding / 2;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: attr(data-letters);
            position: absolute;
            z-index: 2;
            overflow: hidden;
            white-space: nowrap;
            width: 0%;
            @include link-anim(width, .4s)
        }
        &.regular {
            color: darken($white, 20%);
            background: $black;
        }
        &.inverse {
            background: $white;
            color: lighten($black, 30%);
        }
        @media screen and (min-width: 768px) {
            &.regular:hover::before {
                color: $feat-color;
                width: 100%;
            }
            &.inverse:hover::before {
                color: darken($feat-color, 20%);
                width: 100%;
            }
        }
    }  
}

h1 {
    position: relative;
    font-size: $base-font * 1.625;
    text-transform: uppercase;
    letter-spacing: .1em;
    &:before {
        @include brackets(before);
    }
    &:after {
        @include brackets(after);
    }
    color: $white;
    text-shadow: 2px 2px 2px 2px darken($white, 60%);
    @media screen and (min-width: 768px) {
        font-size: $base-font * 2.4;
    }
}

h2 {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: $base-font * 1.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    &:before {
        @include brackets(before);
    }
    &:after {
        @include brackets(after);
    }
    @media screen and (min-width: 768px) {
        font-size: $base-font * 1.8;
    }
}

h3 {
    position: relative;
    margin-left: $base-margin / 1.333;
    margin-bottom: $base-margin * 1.6;
    font-size: $base-font * 1.5;
    font-weight: 400;
    color: lighten($black, 40%);
    line-height: .8;
    &.light {
        color: darken($white, 40%);
    }
    @media screen and (min-width: 768px) {
        font-size: $base-font * 1.6;
        margin-bottom: $base-margin * 2;
        margin-left: $base-margin;
    }
}

h4 {
    font-size: $base-font * 1.142;
    font-weight: 700;
    padding-top: $base-padding / 2;
    @media screen and (min-width: 768px) {
        font-size: $base-font * 1.4            
    }
}

h5 {
    font-size: $base-font;
    font-weight: 400;
    margin-bottom: $base-margin;
    @media screen and (min-width: 768px) {
        font-size: $base-font * 1.2;                
    }
}

h6 {
    font-size: $base-font / 1.142;
    font-weight: 700;
    position: relative;
    color: lighten($black, 30%);
    padding-top: $base-padding / 2;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 2px;
        background: lighten($black, 30%);
    }
    &.light {
        color: darken($white, 20%);
        &:before {
            background: darken($white, 20%);
        }
    }
    @media screen and (min-width: 768px) {
        font-size: $base-font;            
    }
}

p {
    margin-bottom: $base-margin;
}

nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        position: fixed;
        left: -260px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        width: 260px;
        transition: left .6s cubic-bezier(0, .68, .31, 1.01);
        & div.wrapper {
            padding: $base-padding * 2;
            height: 100%;
            background: #000;
            text-transform: uppercase;
            @include angle(both);
        }
        & li {
            color: darken($white, 20%);
            margin-bottom: $base-margin;
            &:last-of-type {
                margin-bottom: 0;
            }
            &.is-active {
                color: $feat-color; 
            }
        }
        & a {
            font-size: $base-font * 1.125;
            margin-left: $base-margin / 2;
            color: darken($white, 20%);
            letter-spacing: .07em;
            display: inline-block;
            position: relative;
            &::before {
                content: attr(data-letters);
                position: absolute;
                z-index: 2;
                overflow: hidden;
                white-space: nowrap;
                width: 0%;
                @include link-anim(width, .6s)
            }
            &.is-active {
                font-weight: 700;
                &::before {
                    width: 100%;
                    color: $feat-color;
                }
            }
        }
        &.is-active {
            left: 0;
        }
    }
}

section {
    position: relative;
    background: $white;
    padding: $base-padding;
    &.angle-both {
        background: $black;;
        @include angle(both);
    }
    &:nth-child(2n+1) {
        margin-top: $sectionH / 7.5;
        margin-bottom: $sectionH / 7.5;
        @media screen and (min-width: 768px) {
            margin-top: $sectionH / 3;
            margin-bottom: $sectionH / 3;
        }
    }
    &:first-of-type {
        background: $black;
        @include angle(after);
        margin-top: 0;
    }
    &:last-of-type {
        background: $black;;
        @include angle(before);
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        padding: $base-padding * 2;
    }
}








// CLASS STYLES

@keyframes flip {

	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}

}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: $black;
    color: $white;
    font-size: $base-font * 2;
    transform: translateY(0);
    & .loader-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & .loader-flipper {
            transform-style: preserve-3d;
            animation: flip 1.2s infinite ease-in-out;
            & .right, & .left {
                display: inline-block;
            }
        }
    }
    &.is-hidden {
        transform: translateY(-100%);
        transition: 1s cubic-bezier(.77, 0, .175, 1) .6s;
        & .loader-content {
            opacity: 0;
            transition: .6s cubic-bezier(.77, 0, .175, 1);
        }
    }
}

.landing-content-wrapper {
    position: relative;
    height: 380px;
    width: 100%;
    & .landing-content-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        color: $white;
        text-align: center;
        & .sub-head {
            font-size: $base-font * 1.15;
            color: darken($white, 10%);
            margin-top: 0;
            opacity: 0;
            @include transition(.8s, .1s);
            @media screen and (min-width: 768px) {
                font-size: $base-font * 1.4;
            }
            &.is-active {
                opacity: 1;
                margin-top: $base-margin;
            }
        }
        & .ui-down-arrow {
            position: relative;
            height: 89px;
            margin-top: $base-margin * 2;
            overflow: hidden;
            opacity: 1;
            @include link-anim(opacity, .4s);
            & span {
                opacity: 0;
                text-transform: uppercase;
                font-size: $base-font / 1.4;
                color: $feat-color;
                letter-spacing: .1em;
                @include link-anim(opacity, .4s);
                &.is-active {
                    opacity: 1;
                }
            }
            & #arrow {
                height: 65px;
                position: absolute;
                left: 50%;
                right: 0;
                top: -100%;
                transform: translateX(-50%);
                @include link-anim(.6s);
            }
            &.is-active #arrow {
                top: 24px;
            }
            &.is-hidden {
                opacity: 0;
            }
            @media screen and (min-width: 768px) {
                margin-top: $base-margin * 3;
            }
        }
    }
}


.content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: $black;
    @media screen and (min-width: 768px) {
        margin-left: 35%;
        margin-right: 15%;
        width: 50%;
        max-width: 600px;
    }
    &.white {
        color: $white;
    }
    & > p {
        margin-left: $base-margin * 2;
        margin-bottom: $base-margin;
        & span {
            font-weight: 700;
        }
    }
    & .contact {
        float: right;
        display: block;
        margin-top: $base-margin * 2;
        & a {
            display: block;
        }
    }
    & .sub-content {
        display: table;
        margin-left: $base-margin / 1.333;
        margin-bottom: $base-margin * 2;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media screen and (min-width: 768px) {
            margin-left: $base-margin;
        }
        & .column {
            display: table-cell;
            height: 100%;
            &.left {
                width: 25%;
                @media screen and (min-width: 768px) {
                    width: 33.33%;
                }
            }
            &.right {
                width: 75%;
                padding-left: $base-margin / 2;
                @media screen and (min-width: 768px) {
                    width: 66.66%;
                    padding-left: 0;
                }
            }
        }
    }
    & .interest-wrapper {
        margin-left: $base-margin * 2;
        margin-bottom: $base-margin * 1.5;
        &:last-of-type {
            margin-bottom: 0;
        }
        & > h5 {
            margin-bottom: $base-margin / 4;
            font-weight: 700;
        }
    }
}

section#footer {
    height: 300px;
    padding: 0;
    .content-footer {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
        & .sub-content-footer {
            display: block;
            margin-bottom: $base-margin;
            &:last-of-type {
                margin-bottom: 0;
            }
            & a {
                display: inline-block;
                color: $white;
                &:before {
                    @include brackets(before, -3px);
                    @include link-anim;
                }
                &:after {
                    @include brackets(after, -3px);
                    @include link-anim;
                }
                @media screen and (min-width: 768px) {
                    &:hover {
                        color: $feat-color;
                    }
                    &:hover:before {
                        margin-right: 3px;
                    }
                    &:hover:after {
                        margin-left: 3px;
                    }
                }
            }
        }    
    }
}

.node rect {
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    fill: darken($white, 30%);
    font-size: $base-font / 1.454;
    font-weight: 400;
    opacity: 1;
    transition: all .4s cubic-bezier(0, .68, .31, 1.01);
    letter-spacing: .06em;
    &.active {
        letter-spacing: .1em;
        fill: $white;
    }
    @media screen and (min-width: 768px) {
        font-size: $base-font / 1.142;
    }
}

.proj-content {
    margin-top: $base-margin * 2;
    display: block;
    width: 100%;
    position: relative;
    & a {
        color: $white;
        display: block;
        text-align: center;
        @include link-anim(.6s);
        & span {
            display: block;
            margin-top: $base-margin / 2;
            &:before {
                @include brackets(before, 0px);
                @include link-anim(margin-right, .6s);
            }
            &:after {
                @include brackets(after, 0px);
                @include link-anim(margin-left, .6s);
            }  
        }
        @media screen and (min-width: 768px) {
            &:hover {
                color: $feat-color;
            }
            &:hover span:before {
                margin-right: 6px;
            }
            &:hover span:after {
                margin-left: 6px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        margin-top: $base-margin * 4;
    }
}

.proj-content a #github-logo {
    @include link-anim(.6s);
}

.proj-content a:hover #github-logo {
    fill: $feat-color;
}



.fill-1, .fill-2, .fill-3 {
    stroke-width: 7.5px;
}

#bracket-start {
    & .outline-1 {
        @include stroke(84, 84);
    }
    & .outline-2 {
        @include stroke(60, 60);
    }
    & .fill-1 {
        @include stroke(72, 72);
    }
    &.animated {
        & .outline-1 {
            @include transition(.4s, .2s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.6s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#bracket-end {
    & .outline-1 {
        @include stroke(61, 61);
    }
    & .outline-2 {
        @include stroke(84, 84);
    }
    & .fill-1 {
        @include stroke(72, 72);
    }
    &.animated {
        & .outline-1 {
            @include transition(.4s, .2s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.6s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-o1, #letter-o2 {
    & .outline-1 {
        @include stroke(108, 108);
    }
    & .outline-2 {
        @include stroke(68, 68);
    }
    & .fill-1 {
        @include stroke(88, 88);
    }
    &.animated {
        & .outline-1 {
            @include transition(.2s, .2s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.6s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-w {
    & .outline-1 {
        @include stroke(89, 89);
    }
    & .outline-2 {
        @include stroke(132, 132);
    }
    & .fill-1 {
        @include stroke(128, 128);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-a1, #letter-a2 {
    opacity: 0;
    & .outline-1 {
        @include stroke(30, 30);
    }
    & .outline-2 {
        @include stroke(82, 82);
    }
    & .outline-3 {
        @include stroke(32, 32);
    }
    & .fill-1 {
        @include stroke(72, 72);
    }
    & .fill-2 {
        @include stroke(15, 15);
    }
    &.animated {
        opacity: 1;
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .outline-3 {
            @include transition(.4s, .1s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
        & .fill-2 {
            @include transition(1s, .6s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-i {
    & .outline-1 {
        @include stroke(21, 21);
    }
    & .outline-2 {
        @include stroke(22, 22);
    }
    & .outline-3 {
        @include stroke(43, 43);
    }
    & .outline-4 {
        @include stroke(39, 39);
    }
    & .fill-1 {
        @include stroke(55, 55);
    }
    & .fill-2 {
        @include stroke(11, 11);
    }
    & .fill-3 {
        @include stroke(9, 9);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .outline-3 {
            @include transition(.4s, .1s);
            stroke-dashoffset: 0;
        }
        & .outline-4 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
        & .fill-2 {
            @include transition(1s, .6s);
            stroke-dashoffset: 0;
        }
        & .fill-3 {
            @include transition(.4s, 1s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-n1 {
    & .outline-1, & .outline-2 {
        @include stroke(103, 103);
    }
    & .fill-1 {
        @include stroke(104, 104);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-s {
    & .outline-1 {
        @include stroke(77, 77);
    }
    & .outline-2 {
        @include stroke(76, 76);
    }
    & .fill-1 {
        @include stroke(76, 76);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-t1 {
    & .outline-1 {
        @include stroke(28, 28);
    }
    & .outline-2 {
        @include stroke(42, 42);
    }
    & .outline-3 {
        @include stroke(42, 42);
    }
    & .fill-1 {
        @include stroke(27, 27);
    }
    & .fill-2 {
        @include stroke(34, 34);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .outline-3 {
            @include transition(.6s, .1s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .8s);
            stroke-dashoffset: 0;
        }
        & .fill-2 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-r {
    & .outline-1 {
        @include stroke(98, 98);
    }
    & .outline-2 {
        @include stroke(37, 37);
    }
    & .outline-3 {
        @include stroke(39, 39);
    }
    & .fill-1 {
        @include stroke(89, 89);
    }
    & .fill-2 {
        @include stroke(10, 10);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .outline-3 {
            @include transition(.6s, .1s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .8s);
            stroke-dashoffset: 0;
        }
        & .fill-2 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-t2, #letter-t3 {
    opacity: 0;
    & .outline-1 {
        @include stroke(42, 42);
    }
    & .outline-2 {
        @include stroke(28, 28);
    }
    & .outline-3 {
        @include stroke(42, 42);
    }
    & .fill-1 {
        @include stroke(27, 27);
    }
    & .fill-2 {
        @include stroke(34, 34);
    }
    &.animated {
        opacity: 1;
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .outline-3 {
            @include transition(.6s, .1s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .8s);
            stroke-dashoffset: 0;
        }
        & .fill-2 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}
#letter-n2 {
    & .outline-1 {
        @include stroke(100, 100);
    }
    & .outline-2 {
        @include stroke(102, 102);
    }
    & .fill-1 {
        @include stroke(103, 103);
    }
    &.animated {
        & .outline-1 {
            @include transition(.6s, .4s);
            stroke-dashoffset: 0;
        }
        & .outline-2 {
            @include transition(.2s, .3s);
            stroke-dashoffset: 0;
        }
        & .fill-1 {
            @include transition(1s, .4s);
            stroke-dashoffset: 0;
        }
    }
}

// ID STYLES


#skills  {
    height: 750px;
    & .ui-prompt {
        font-size: $base-font / 1.2;
        color: darken($white, 20%);
        & .desktop {
            display: none;
        }
        & .mobile {
            display: block;
        }
    }
    @media screen and (min-width: 768px) {
        & {
            height: auto;
            & .content {
                margin-right: 5%;
                width: 60%;
                & .mobile {
                    display: none;
                }
                & .desktop {
                    display: block;
                }
            }
        }
    } 
}

#profile {
    margin-bottom: 180px;
    @media screen and (min-width: 768px) {
        margin-bottom: $sectionH / 2.5;
    }
}

#name {
    width: 320px;
    @media screen and (min-width: 620px) {
        width: 486px;
    }
}