html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-family: 'Inconsolata', monospace;
  font-size: 14.01051px;
  font-weight: 400;
  line-height: 1.6; }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: #030303; }
  a.link {
    display: inline-block;
    position: relative;
    font-weight: 700;
    letter-spacing: .07em;
    padding: 12px;
    overflow: hidden;
    z-index: 1; }
    a.link::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      white-space: nowrap;
      width: 0%;
      transition: width 0.4s cubic-bezier(0, 0.68, 0.31, 1.01); }
    a.link.regular {
      color: #cccccc;
      background: #030303; }
    a.link.inverse {
      background: #fff;
      color: #505050; }
    @media screen and (min-width: 768px) {
      a.link.regular:hover::before {
        color: #ffbc79;
        width: 100%; }
      a.link.inverse:hover::before {
        color: #ff8913;
        width: 100%; } }

h1 {
  position: relative;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: .1em; }
  h1:before {
    color: inherit;
    display: inline-block;
    margin-right: -12px;
    content: '['; }
  h1:after {
    color: inherit;
    display: inline-block;
    margin-left: -12px;
    content: ']'; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 38.4px; } }

h2 {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em; }
  h2:before {
    color: inherit;
    display: inline-block;
    margin-right: -12px;
    content: '['; }
  h2:after {
    color: inherit;
    display: inline-block;
    margin-left: -12px;
    content: ']'; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 28.8px; } }

h3 {
  position: relative;
  margin-left: 18.0045px;
  margin-bottom: 38.4px;
  font-size: 24px;
  font-weight: 400;
  color: dimgray;
  line-height: .8; }
  h3.light {
    color: #999999; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 25.6px;
      margin-bottom: 48px;
      margin-left: 24px; } }

h4 {
  font-size: 18.272px;
  font-weight: 700;
  padding-top: 12px; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 22.4px; } }

h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 19.2px; } }

h6 {
  font-size: 14.01051px;
  font-weight: 700;
  position: relative;
  color: #505050;
  padding-top: 12px; }
  h6:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 2px;
    background: #505050; }
  h6.light {
    color: #cccccc; }
    h6.light:before {
      background: #cccccc; }
  @media screen and (min-width: 768px) {
    h6 {
      font-size: 16px; } }

p {
  margin-bottom: 24px; }

nav {
  display: none; }
  @media screen and (min-width: 768px) {
    nav {
      display: block;
      position: fixed;
      left: -260px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      width: 260px;
      transition: left 0.6s cubic-bezier(0, 0.68, 0.31, 1.01); }
      nav div.wrapper {
        padding: 48px;
        height: 100%;
        background: #000;
        text-transform: uppercase;
        position: relative;
        z-index: 1; }
        nav div.wrapper:before, nav div.wrapper:after {
          background: inherit;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          z-index: -1;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden; }
        nav div.wrapper:before {
          top: 0;
          transform: skewY(8deg);
          transform-origin: 100% 0; }
        nav div.wrapper:after {
          bottom: 0;
          transform: skewY(8deg);
          transform-origin: 0; }
      nav li {
        color: #cccccc;
        margin-bottom: 24px; }
        nav li:last-of-type {
          margin-bottom: 0; }
        nav li.is-active {
          color: #ffbc79; }
      nav a {
        font-size: 18px;
        margin-left: 12px;
        color: #cccccc;
        letter-spacing: .07em;
        display: inline-block;
        position: relative; }
        nav a::before {
          content: attr(data-letters);
          position: absolute;
          z-index: 2;
          overflow: hidden;
          white-space: nowrap;
          width: 0%;
          transition: width 0.6s cubic-bezier(0, 0.68, 0.31, 1.01); }
        nav a.is-active {
          font-weight: 700; }
          nav a.is-active::before {
            width: 100%;
            color: #ffbc79; }
      nav.is-active {
        left: 0; } }

section {
  position: relative;
  background: #fff;
  padding: 24px; }
  section:last-of-type {
    background: #030303;
    position: relative;
    z-index: 1; }
    section:last-of-type:before {
      background: inherit;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
    section:last-of-type:before {
      top: 0;
      transform: skewY(8deg);
      transform-origin: 100% 0; }
  section.angle-both {
    background: #030303;
    position: relative;
    z-index: 1; }
    section.angle-both:before, section.angle-both:after {
      background: inherit;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
    section.angle-both:before {
      top: 0;
      transform: skewY(8deg);
      transform-origin: 100% 0; }
    section.angle-both:after {
      bottom: 0;
      transform: skewY(8deg);
      transform-origin: 0; }
  section:nth-child(2n+1) {
    margin-top: 80px;
    margin-bottom: 80px; }
    @media screen and (min-width: 768px) {
      section:nth-child(2n+1) {
        margin-top: 200px;
        margin-bottom: 200px; } }
  section:first-of-type {
    background: #030303;
    position: relative;
    z-index: 1;
    margin-top: 0; }
    section:first-of-type:after {
      background: inherit;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
    section:first-of-type:after {
      bottom: 0;
      transform: skewY(8deg);
      transform-origin: 0; }
  @media screen and (min-width: 768px) {
    section {
      padding: 48px; } }

@keyframes flip {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #030303;
  color: #fff;
  font-size: 32px;
  transform: translateY(0); }
  .loader .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .loader .loader-content .loader-flipper {
      transform-style: preserve-3d;
      animation: flip 1.2s infinite ease-in-out; }
      .loader .loader-content .loader-flipper .right, .loader .loader-content .loader-flipper .left {
        display: inline-block; }
  .loader.is-hidden {
    transform: translateY(-100%);
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.6s; }
    .loader.is-hidden .loader-content {
      opacity: 0;
      transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1); }

.landing-content-wrapper {
  position: relative;
  height: 380px;
  width: 100%; }
  .landing-content-wrapper .landing-content-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center; }
    .landing-content-wrapper .landing-content-inner .sub-head {
      font-size: 18.4px; }
      @media screen and (min-width: 768px) {
        .landing-content-wrapper .landing-content-inner .sub-head {
          font-size: 22.4px; } }
    .landing-content-wrapper .landing-content-inner .ui-down-arrow {
      position: relative;
      height: 65px;
      margin: 72px;
      overflow: hidden;
      opacity: 1;
      transition: opacity 0.4s cubic-bezier(0, 0.68, 0.31, 1.01); }
      .landing-content-wrapper .landing-content-inner .ui-down-arrow svg {
        height: 65px;
        position: absolute;
        left: 50%;
        right: 0;
        top: -100%;
        transform: translateX(-50%);
        transition: 0.6s 0.3s cubic-bezier(0, 0.68, 0.31, 1.01); }
      .landing-content-wrapper .landing-content-inner .ui-down-arrow.is-active svg {
        top: 0; }
      .landing-content-wrapper .landing-content-inner .ui-down-arrow.is-hidden {
        opacity: 0; }

.content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: #030303; }
  @media screen and (min-width: 768px) {
    .content {
      margin-left: 35%;
      margin-right: 15%;
      width: 50%;
      max-width: 600px; } }
  .content.white {
    color: #fff; }
  .content > p:nth-child(3) {
    margin-left: 48px;
    margin-bottom: 0; }
  .content .contact {
    float: right;
    display: block;
    margin-top: 48px; }
    .content .contact a {
      display: block; }
  .content .sub-content {
    display: table;
    margin-left: 18.0045px;
    margin-bottom: 48px; }
    .content .sub-content:last-of-type {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .content .sub-content {
        margin-left: 24px; } }
    .content .sub-content .column {
      display: table-cell;
      height: 100%; }
      .content .sub-content .column.left {
        width: 25%; }
        @media screen and (min-width: 768px) {
          .content .sub-content .column.left {
            width: 33.33%; } }
      .content .sub-content .column.right {
        width: 75%;
        padding-left: 12px; }
        @media screen and (min-width: 768px) {
          .content .sub-content .column.right {
            width: 66.66%;
            padding-left: 0; } }
  .content .interest-wrapper {
    margin-left: 48px;
    margin-bottom: 36px; }
    .content .interest-wrapper:last-of-type {
      margin-bottom: 0; }
    .content .interest-wrapper > h5 {
      margin-bottom: 6px;
      font-weight: 700; }

section#footer {
  height: 100px; }
  section#footer .content-footer {
    position: relative;
    height: 100%;
    text-align: center; }
    section#footer .content-footer .sub-content-footer {
      display: block;
      margin-bottom: 24px; }
      section#footer .content-footer .sub-content-footer:last-of-type {
        margin-bottom: 0; }
      section#footer .content-footer .sub-content-footer a {
        display: inline-block;
        color: #fff; }
        section#footer .content-footer .sub-content-footer a:before {
          color: inherit;
          display: inline-block;
          margin-right: -3px;
          content: '[';
          transition: all 0.3s cubic-bezier(0, 0.68, 0.31, 1.01); }
        section#footer .content-footer .sub-content-footer a:after {
          color: inherit;
          display: inline-block;
          margin-left: -3px;
          content: ']';
          transition: all 0.3s cubic-bezier(0, 0.68, 0.31, 1.01); }
        @media screen and (min-width: 768px) {
          section#footer .content-footer .sub-content-footer a:hover {
            color: #ffbc79; }
          section#footer .content-footer .sub-content-footer a:hover:before {
            margin-right: 3px; }
          section#footer .content-footer .sub-content-footer a:hover:after {
            margin-left: 3px; } }

.node rect {
  shape-rendering: crispEdges; }

.node text {
  pointer-events: none;
  fill: #b3b3b3;
  font-size: 11.00413px;
  font-weight: 400;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0, 0.68, 0.31, 1.01);
  letter-spacing: .06em; }
  .node text.active {
    letter-spacing: .1em;
    fill: #fff; }
  @media screen and (min-width: 768px) {
    .node text {
      font-size: 14.01051px; } }

#skills {
  height: 700px; }
  @media screen and (min-width: 768px) {
    #skills .content {
      margin-right: 5%;
      width: 60%; } }

#chart {
  width: 100%;
  height: 100%; }

#profile {
  margin-bottom: 180px; }
  @media screen and (min-width: 768px) {
    #profile {
      margin-bottom: 240px; } }

/*# sourceMappingURL=main.css.map */
